html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color:#343090;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}


.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 900px;
    margin: 0 auto;
    color: black;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Style the featured courses section */
.featured-courses {
    text-align: center;
    padding: 40px 0;
}

.course {
    display: inline-block;
    margin: 20px;
    max-width: 300px;
}

.course img {
    max-width: 100%;
}

/* Style the footer */
footer {
    background-color: #343090;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
